<div class="container text-center container-thibault">
  <h1>Answer from your Coach</h1>
  <div>
    <p class="question"><i class="fa fa-question" aria-hidden="true"></i> Question you asked: <%= @query %></p>
    <p class="answer"><i class="fa fa-android" aria-hidden="true"></i> Bot answer: <%= @answer %></p>
    <%= link_to "Ask a new question", ask_path %>
  </div>
</div>

