<div class="container text-center container-thibault">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <h1>Ask a question to your coach</h1>
      <form action="/answer" method="get">
        <div class="form-group">
          <input type="question" class="form-control" name="query" id="question" placeholder="your question">
        </div>
        <button type="submit" class="btn btn-danger">Go on</button>
      </form>
    </div>
  </div>
</div>
